---
layout: custom
---

<div class="bg">
	<div id="top-jumbotron" class="top-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 text-right vcenter">
					<a class="no-text-decoration" href="{{ site.baseurl }}/index.html"><h1 class='light-weight-font'>James Bourbeau</h1></a>
					<a href="https://github.com/jrbourbeau" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="30px;" src="{{ site.baseurl }}/assets/GitHub-Mark-Light-120px-plus.png" alt="GitHub mark" />
					</a>
					<a href="https://twitter.com/__jrbourbeau__" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="40px;" src="{{ site.baseurl }}/assets/Twitter_Social_Icon_White.png" alt="Twitter logo" />
					</a>
					<a href="https://www.linkedin.com/in/jrbourbeau" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="30px;" src="{{ site.baseurl }}/assets/In-White-128px-R.png" alt="LinkedIn logo" />
					</a>
				</div><!--
	            --><div class="col-sm-8 vcenter">
					<ul class="nav nav-pills nav-justified">
					  <li role="presentation" class='mid-weight-font'><a href="#about">ABOUT</a></li>
					  <li role="presentation" class='vertical-line mid-weight-font'><a href="#research">RESEARCH</a></li>
					  <li role="presentation" class='vertical-line mid-weight-font'><a href="#cv">CV</a></li>
					  <li role="presentation" class='vertical-line mid-weight-font'><a href="#blog">BLOG</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<a id='about' class='scroll-link'></a>
<div class="container-fluid white-background top-padding bottom-padding" id="about-section">
    <div class="row">
		<div class="col-md-4 hidden-sm hidden-xs vcenter">
			<img class="img-responsive pull-right" id="picture" width="250px" src="{{ site.baseurl }}/assets/image-3.png">
        </div><!--
		--><div class="col-sm-8 col-md-5 col-lg-6 vcenter" id="about-me">
            <blockquote class="pull-left">
                I'm a physics Ph.D. student, data analyst, and programmer with an interest in all things data science and open-source software. In my free time I like being outside with friends and enjoying life in MadTown with my MadCats!
                <!-- <br> I received my bachelor's degree in physics from the University of Texas at Arlington in 2013. While at UTA I worked with
                <a href="http://www-hep.uta.edu/~brandta/homepage.html">Andrew Brandt</a> on developing a high precision time-of-flight detector as part of a potential upgrade to the ATLAS detector at the LHC. My work primarily focused on improving
                and maintaining the data analysis code base of the group.
                <br> -->
            </blockquote>
        </div>
    </div>
</div>

<div class="container-fluid white-background bottom-padding" id="resume-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" style="padding-right:20px;">
            </div>
            <div class="col-sm-4">
                <h3 class='header'> Skills </h3>
				<ul>
					<li> 6+ years of data analysis experience </li>
					<li> Python programming </li>
					<li> Machine learning experience </li>
					<li> Experience with distributed computing systems (see my <a href='https://jrbourbeau.github.io/pycondor/'>PyCondor project</a>)</li>
					<li> Data visualization </li>
					<li> Technical communication skills </li>
				</ul>
            </div>
            <div class="col-sm-3">
				<h3 class='header'>Interests</h3>
				<ul>
					<li> Using data to help answer questions and solve problems </li>
					<li> Building software </li>
				</ul>
				<br />
                <h3 class='header'> Education </h3>
				<ul>
					<li> BS in Physics </li>
					<li> MS in Physics </li>
					<li> PhD in Physics in progress </li>
				</ul>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
</div>

<!-- Research section -->
<div class="container-fluid white-background" id="research-section">

	<div class="row padding-top">
		<!-- <div class="jumbotron">
		    <a id='research' class='scroll-link'><h1 class='green-text'>Research</h1></a>
	    </div> -->
		<div class="page-header text-center">
			<a id='research' class='scroll-link'></a>
		    <h1 class='green-text light-weight-font'>Research</h1>
		</div>
	</div>
	<div class="row bottom-padding">
		<div class="col-sm-2 vcenter">
		</div><!--
		--><div class="col-sm-4 vcenter">
			<h3 class='mid-weight-font'>Cosmic-ray Composition</h3>
			<p>
				My current work focuses on applying machine learning techniques to data collected using the IceCube South Pole Neutrino Observatory. The goal of my analysis is to study the composition dependence of the cosmic-ray (CR) flux and arrival-direction anisotropy, which can help guide us towards answering fundamental questions about the origin of cosmic rays. More information can be found on the <a href="https://github.com/jrbourbeau/cr-composition" target="_blank">GitHub</a> page for this analysis.
			</p>
		</div><!--
		--><div class="col-sm-4 vcenter">
			<img class="img-responsive" width="80%" src="{{ site.baseurl }}/assets/icetop-event.png" alt="radviz" style="margin: 0 auto;">
		</div><!--
		--><div class="col-sm-2 vcenter">
		</div>
	</div>
	<div class="row vertical-align bottom-padding">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4 hidden-md hidden-sm hidden-xs">
			<img class="img-responsive" width="80%" src="{{ site.baseurl }}/assets/Zprime-feynman.png" alt="Mono-Z' Feynman diagram" style="margin: 0 auto;">
		</div>
		<div class="col-sm-4">
			<h3 class='mid-weight-font'>Dark Matter Phenomenology</h3>
			<p>
				During my first two years of graduate school I worked with <a href="http://www.physics.wisc.edu/~yangbai/Home.html">Yang Bai</a> in the high energy
				<a href="http://www.pheno.wisc.edu/">phenomenology group</a> on investigating a specific dark matter signature produced by Z' jets at the Large Hadron Collider (LHC). We, along with our collaborator Tongyan Lin, published a paper on
				this topic in the Journal for High Energy Physics [<a href="http://arxiv.org/abs/1504.01395">arXiv:1504.01395</a>].
			</p>
			<blockquote>
				<p> Y. Bai, <b>J. Bourbeau</b>, and T. Lin. "Dark matter searches with a mono-Z' jet," <i>JHEP</i> <b>06</b>, 205 (2015). DOI: 10.1007/JHEP06 (2015) 205.</p>
			</blockquote>
			<a class="btn btn-default pdf-button" href="/assets/monoZprime.pdf" role="button" target="_blank">PDF</a>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>

<!-- CV section -->
<a id='cv'></a>
<div class="jumbotron cv-jumbotron text-center">
	<h1 class='light-weight-font'>Curriculum Vitae</h1>
	<br />
	<button type="button" class="cv-button rounded-button btn btn-default btn-lg" id="education-button">Education</button>
	<button type="button" class="cv-button rounded-button btn btn-default btn-lg" id="researchcv-button">Research</button>
	<button type="button" class="cv-button rounded-button btn btn-default btn-lg" id="talks-button">Selected Talks</button>
	<a href="/assets/CV-JamesBourbeau.pdf" target="_blank"><button type="button" class="cv-button rounded-button btn btn-default btn-lg" id="PDF-CV-button">CV PDF</button></a>
</div>
<div class="container-fluid">
	<div class="row">
	    <div class="col-sm-12">
			{% include education.html %}
			{% include research.html %}
			{% include talks.html %}
		</div>
	</div>
</div>

<!-- Blog section -->
<a id='blog' class='scroll-link'></a>
<div class="bg3">
	<h1 class='light-weight-font'> Recent blog posts </h1>
</div>
<div class="container-fluid white-background bottom-padding">
	<div class="row bottom-padding">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8 text-left">
			<ul class="post-list">
				{% for post in site.posts %}
					<li class="top-padding">
						<!-- <h3 class='post-title'><a class="text-center" href="{{ post.url }}">{{ post.title }}</a></h3> -->
						<h3 class='header'><a class="text-center post-title" href="{{ post.url }}">{{ post.title }}</a></h3>
						<p>{{ post.date | date: "%b %-d, %Y" }}</p>
						{{ post.excerpt }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>

<!-- <a href="#" class="scroller"><span class="glyphicon glyphicon-menu-up"></span><br />Back to top</a> -->
<div id="scroller">
	<span class="glyphicon glyphicon-menu-up"></span>
	<a><p>Back to top</p></a>
</div>


<!-- Custom JavaScript -->
<script src="js/index.js"></script>
