---
layout: custom
---

<div class="bg">
	<div class="top-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 text-right vcenter">
					<h1>James Bourbeau</h1>
					<a href="https://github.com/jrbourbeau" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="30px;" src="{{ site.baseurl }}/assets/GitHub-Mark-Light-120px-plus.png" alt="GitHub mark" />
					</a>
					<a href="https://twitter.com/bourbeaujames" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="40px;" src="{{ site.baseurl }}/assets/Twitter_Social_Icon_White.png" alt="Twitter logo" />
					</a>
					<a href="https://www.linkedin.com/in/james-bourbeau-848353108" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="30px;" src="{{ site.baseurl }}/assets/In-White-128px-R.png" alt="LinkedIn logo" />
					</a>
				</div><!--
	            --><div class="col-sm-8 vcenter">
					<ul class="nav nav-pills nav-justified">
					  <li role="presentation"><a href="#about">About</a></li>
					  <li role="presentation" class='vertical-line'><a href="#research">Research</a></li>
					  <li role="presentation" class='vertical-line'><a href="#cv">CV</a></li>
					  <li role="presentation" class='vertical-line'><a href="#blog">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<a id='about' class='scroll-link'></a>
<div class="container-fluid white-background top-padding bottom-padding" id="about-section">
    <div class="row">
		<div class="col-md-4 hidden-sm hidden-xs vcenter">
			<img class="img-responsive pull-right" id="picture" width="200px" src="{{ site.baseurl }}/assets/james_square2.png">
        </div><!--
		--><div class="col-sm-8 col-md-5 col-lg-6 vcenter" id="about-me">
            <blockquote class="pull-left">
                I'm a physics Ph.D. student, data analyst, and python programmer with an interest in machine learning and open-source software. In my free time I like being outside with friends and enjoying life in MadTown with my MadCats!
                <!-- <br> I received my bachelor's degree in physics from the University of Texas at Arlington in 2013. While at UTA I worked with
                <a href="http://www-hep.uta.edu/~brandta/homepage.html">Andrew Brandt</a> on developing a high precision time-of-flight detector as part of a potential upgrade to the ATLAS detector at the LHC. My work primarily focused on improving
                and maintaining the data analysis code base of the group.
                <br> -->
            </blockquote>
        </div>
    </div>
</div>

<div class="container-fluid white-background bottom-padding" id="resume-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" style="padding-right:20px;">
            </div>
            <div class="col-sm-5">
                <h3> Skills </h3>
				<ul>
					<li> 6+ years of data analysis experience </li>
					<li> Python programming (including NumPy, SciPy, pandas, scikit-learn, etc.) </li>
					<li> Machine learning techniques </li>
					<ul>
						<li>Feature selection</li>
						<li>Classification and regression algorithms</li>
						<li>Model evaluation</li>
					</ul>
					<li> Experience with large distributed computing systems </li>
					<li> Data visualization </li>
					<li> Technical communication skills </li>
				</ul>
            </div>
            <div class="col-sm-4">
				<h3>Interests</h3>
				<ul>
					<li> Using data to help solve problems </li>
				</ul>
				<br />
                <h3> Education </h3>
				<ul>
					<li> BS in Physics </li>
					<li> Master's in Physics </li>
					<li> PhD in Physics in progress </li>
				</ul>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
</div>

<!-- Research section -->
{% include research-section.html %}

<!-- CV section -->
<a id='cv'></a>
<div class="jumbotron cv-jumbotron text-center">
	<h1>Curriculum Vitae</h1>
	<br />
	<button type="button" class="btn btn-default btn-lg" id="CV-button">Show CV</button>
	<a href="/assets/CV-JamesBourbeau.pdf" target="_blank"><button type="button" class="btn btn-default btn-lg" id="PDF-CV-button">Open CV PDF</button></a>
</div>
<div class="container-fluid">
	<div class="row">
	    <div class="col-sm-12">
			{% include cv.html %}
		</div>
	</div>
</div>

<!-- Blog section -->
<a id='blog' class='scroll-link'></a>
<div class="bg3">
	<h1> Recent blog posts </h1>
</div>
<div class="container-fluid white-background bottom-padding">
	<div class="row bottom-padding">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8 text-left">
			<ul class="post-list">
				{% for post in site.posts %}
					<li class="top-padding">
						<h3 class='post-title'><a class="text-center" href="{{ post.url }}">{{ post.title }}</a></h3>
						<p>{{ post.date | date: "%b %-d, %Y" }}</p>
						{{ post.excerpt }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>

<a href="#" class="scrollToTop"><span class="glyphicon glyphicon-menu-up"></span><br />Back to top</a>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script>
	// Scroll to top stuff
	$(document).ready(function(){
		//Check to see if the window is top if not then display button
		$(window).scroll(function(){
			if ($(this).scrollTop() > 499) {
				$('.scrollToTop').fadeIn();
			} else {
				$('.scrollToTop').fadeOut();
			}
		});
		//Click event to scroll to top
		$('.scrollToTop').click(function(){
			$('html, body').animate({scrollTop : 0},500);
			return false;
		});
	});

	// Scroll to link stuff
	$(document).ready(function(){
	  // Add smooth scrolling to all links
	  $("a").on('click', function(event) {
	    // Make sure this.hash has a value before overriding default behavior
	    if (this.hash !== "") {
	      // Prevent default anchor click behavior
	      event.preventDefault();
	      // Store hash
	      var hash = this.hash;
	      // Using jQuery's animate() method to add smooth page scroll
	      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
	      $('html, body').animate({
	        scrollTop: $(hash).offset().top
			}, 500, function(){
	        // Add hash (#) to URL when done scrolling (default click behavior)
	        window.location.hash = hash;
	      });
	    } // End if
	  });
	});

    $("#CV-section").hide();

    $("#CV-button").click(function() {
		var $this = $(this);
		$(this).toggleClass("active-button");
		$(this).toggleClass("btn-default");
		$(this).toggleClass("btn-success");
        $("#CV-section").slideToggle();
		if($this.hasClass("active-button")){
	        $this.text("Hide CV");
	    } else {
	        $this.text("Show CV");
	    }
    });
</script>
