
<div class="bg-post post-header">
	<div class="top-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 text-right vcenter">
					<a href="{{ site.baseurl }}/index.html"><h1>James Bourbeau</h1></a>
					<a href="https://github.com/jrbourbeau" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="30px;" src="{{ site.baseurl }}/assets/GitHub-Mark-Light-120px-plus.png" alt="GitHub mark" />
					</a>
					<a href="https://twitter.com/bourbeaujames" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="40px;" src="{{ site.baseurl }}/assets/Twitter_Social_Icon_White.png" alt="Twitter logo" />
					</a>
					<a href="https://www.linkedin.com/in/jrbourbeau" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="30px;" src="{{ site.baseurl }}/assets/In-White-128px-R.png" alt="LinkedIn logo" />
					</a>
				</div><!--
	            --><div class="col-sm-8 vcenter">
					<ul class="nav nav-pills nav-justified">
					  <li role="presentation"><a href="{{ site.baseurl }}/index.html#about">ABOUT</a></li>
					  <li role="presentation" class='vertical-line'><a href="{{ site.baseurl }}/index.html#research">RESEARCH</a></li>
					  <li role="presentation" class='vertical-line'><a href="{{ site.baseurl }}/index.html#cv">CV</a></li>
					  <li role="presentation" class='vertical-line'><a href="{{ site.baseurl }}/index.html#blog">BLOG</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
