
<footer class="footer">
	<!-- <div class="sexy_line"></div> -->
	<div class="container">
		<div class="row footer-padding">
			<div class="col-sm-3 vcenter">
				<p>&copy; 2017 James Bourbeau</p>
			</div><!--
    		--><div class="col-sm-7 vcenter">
			</div><!--
    		--><div class="col-sm-2 vcenter">
					<a href="https://github.com/jrbourbeau" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="30px;" src="{{ site.baseurl }}/assets/GitHub-Mark-120px-plus.png" alt="GitHub mark" />
					</a>
					<a href="https://twitter.com/bourbeaujames" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="40px;" src="{{ site.baseurl }}/assets/Twitter_Logo_Blue.png" alt="Twitter logo" />
					</a>
					<a href="https://www.linkedin.com/in/james-bourbeau-848353108" target="_blank" style="text-decoration: none;">
						<img class="github" style="" width="30px;" src="{{ site.baseurl }}/assets/In-2C-128px-R.png" alt="LinkedIn logo" />
					</a>
			</div>
		</div>
	</div>
</footer>
<!--<footer class="site-footer">-->

  <!--<div class="wrapper">-->

  <!--  [><h2 class="footer-heading">{{ site.title }}</h2><]-->

  <!--  <div class="footer-col-wrapper">-->
  <!--    <div class="footer-col footer-col-1">-->
  <!--      <ul class="contact-list">-->
  <!--        <li>{{ site.title }}</li>-->
  <!--        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
  <!--      </ul>-->
  <!--    </div>-->

  <!--    <div class="footer-col footer-col-2">-->
  <!--      <ul class="social-media-list">-->
  <!--        {% if site.github_username %}-->
  <!--        <li>-->
  <!--          {% include icon-github.html username=site.github_username %}-->
  <!--        </li>-->
  <!--        {% endif %}-->

  <!--        {% if site.twitter_username %}-->
  <!--        <li>-->
  <!--          {% include icon-twitter.html username=site.twitter_username %}-->
  <!--        </li>-->
  <!--        {% endif %}-->
  <!--      </ul>-->
  <!--    </div>-->

  <!--    <div class="footer-col footer-col-3">-->
  <!--      <p>{{ site.description }}</p>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--</div>-->

<!--</footer>-->
