<div class="container-fluid white-background top-padding bottom-padding" id="education-section">
    <div class='container-fluid'>
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
                <h2 class='mid-weight-font'> Education </h2>
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> Physics Graduate Student
                    <br> <i>University of Wisconsin&mdash;Madison</i>
                </p>
                <ul>
                    <li>Advisor: Stefan Westerhoff</li>
                </ul>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p> 2013-Present </p>
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> Honors Bachelor of Science, Physics
                    <br> <i>University of Texas at Arlington</i>
                </p>
                <ul>
                    <li>Summa Cum Laude</li>
                    <li>Thesis: <i>Detector Development for a High Precision Time of Flight Detector</i></li>
                    <li>Advisor: Andrew Brandt</li>
                    <li>Minor: Mathematics</li>
                </ul>
                <br>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p> 2009-2013 </p>
            </div>
        </div>
    </div>
</div>
