<header class="site-header">

	<div class="wrapper">
			<!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->

			<!--<div class="bg"></div>-->
			<!--<div class="jumbotron">-->
			<!--    <div class="container jumbotron-text">-->
			<!--        <div class="vertical-line jumbotron-left">-->
			<!--            <h1>James Bourbeau</h1>-->
			<!--            <p style="font-size:20px; margin: 0;text-align:right">Wisconsin Physics Ph.D. student</p>-->
			<!--        </div>-->
			<!--        <div class="jumbotron-right">-->
			<!--            <p style="font-size:18px;">-->
			<!--                <a href="https://github.com/jrbourbeau" target="_blank" style="text-decoration: none;">-->
			<!--                    <img class="github" style="vertical-align:middle; padding-right: 10px;" width="50px;" src="{{ site.baseurl }}/assets/GitHub-Mark-Light-120px-plus.png" alt="GitHub mark" />-->
			<!--                </a>-->
			<!--                <br>-->
			<!--                <a href="mailto:jbourbeau@wisc.edu">jbourbeau@wisc.edu</a>-->
			<!--            </p>-->
			<!--        </div>-->
			<!--    </div>-->
			<!--</div>-->

	</div>

</header>
