<div class="container-fluid white-background top-padding bottom-padding" id="researchcv-section">
    <!-- 			Publications Section -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
                <h2> Publications </h2>
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> Y. Bai, J. Bourbeau, and T. Lin. <i>Dark Matter Searches with a Mono-Z' Jet</i>. JHEP <b>1506</b>, 205 (2015).
                    <a href='http://arxiv.org/pdf/1504.01395.pdf'>[arXiv:1504.01395]</a>.</p>
                <br>
                <br>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>

    <!-- 			Research Experience -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
                <h2> Research <br> Experience </h2>
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> Graduate Researcher
                    <br> <i>IceCube Collaboration&mdash;UW</i>
                    <ul>
                        Studying cosmic-ray anisotropy and reconstruction techniques using the IceCube and IceTop detectors.
                    </ul>
                </p>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p>2015-Present</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> Graduate Researcher
                    <br> <i>High Energy Phenomenology Group&mdash;UW</i>
                    <ul>
                        Used effective field theory and simplified model methods to study specific dark matter signatures at collider experiments. In particular, searching for Z' jets at the LHC.
                    </ul>
                </p>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p>2014-2015</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> Undergraduate Researcher
                    <br> <i>ATLAS Forward Proton (AFP) Detector&mdash;UTA</i>
                    <ul>
                        Contributed to the development of the AFP detector system, a high-precision time-of-flight detector that was proposed as part of an upgrade to the ATLAS experiment at the LHC.
                        <ul>
                            <li>Evaluated the performance of microchannel plate (MCP) photomultiplier tubes (PMTs). </li>
                            <li>Wrote and maintained code used to analyzed data (C++ and ROOT). </li>
                        </ul>
                    </ul>
                </p>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p>2010-2013</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> Undergraduate Researcher
                    <br> <i>Nanoparticle Scintillator Radiation Detection&mdash;UTA</i>
                    <ul>
                        Developed a radiation detection setup using PMTs and photodiodes to assess the performance of new nanoparticle scintillators.
                    </ul>
                </p>
                <br>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p>2010-2011</p>
            </div>
        </div>
    </div>
</div>
