<div class="container-fluid white-background" id="research-section">

	<div class="row padding-top">
		<!-- <div class="jumbotron">
		    <a id='research' class='scroll-link'><h1 class='green-text'>Research</h1></a>
	    </div> -->
		<div class="page-header text-center">
		    <a id='research' class='scroll-link'><h1 class='green-text header'>Research</h1></a>
		</div>
	</div>
	<div class="row bottom-padding">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4">
			<h3 class='header'>Cosmic-ray Physics</h3>
			<!-- <h3 style="font-family: 'Roboto', sans-serif;">Cosmic-ray Physics</h3> -->
			<p>
				My research is focused on studying the cosmic-ray (CR) composition spectrum using the IceCube South Pole Neutrino Observatory. The central task is to produce an algorithm that can accurately classify different particles (e.g. protons, helium nuclei, iron nuclei, etc). More information can be found on the <a class="underlined" href="https://github.com/jrbourbeau/cr-composition" target="_blank">GitHub</a> page for this analysis.
			</p>
		</div>
		<div class="col-sm-4">
			<img class="img-responsive" width="90%" src="{{ site.baseurl }}/assets/radviz.png" alt="radviz" style="margin: 0 auto;">
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	<div class="row vertical-align bottom-padding">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4 hidden-md hidden-sm hidden-xs">
			<img class="img-responsive" width="80%" src="{{ site.baseurl }}/assets/Zprime-feynman.png" alt="Mono-Z' Feynman diagram" style="margin: 0 auto;">
		</div>
		<div class="col-sm-4">
			<h3 class='header'>High Energy Pheno</h3>
			<!-- <h3 style="font-family: 'Roboto', sans-serif;">High Energy Pheno</h3> -->
			<p>
				During my first two years of graduate school I worked with <a href="http://www.physics.wisc.edu/~yangbai/Home.html">Yang Bai</a> in the high energy
				<a href="http://www.pheno.wisc.edu/">phenomenology group</a> on investigating a specific dark matter signature produced by Z' jets at the Large Hadron Collider (LHC). We, along with our collaborator Tongyan Lin, published a paper on
				this topic in the Journal for High Energy Physics <a href="http://arxiv.org/abs/1504.01395">[arXiv:1504.01395]</a>.
			</p>
			<blockquote>
				<p> Y. Bai, <b>J. Bourbeau</b>, and T. Lin. "Dark matter searches with a mono-Z' jet," <i>JHEP</i> <b>06</b>, 205 (2015). DOI: 10.1007/JHEP06 (2015) 205.</p>
			</blockquote>
			<a class="btn btn-default pdf-button" href="/assets/monoZprime.pdf" role="button" target="_blank">PDF</a>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>
