<div class="container-fluid white-background top-padding bottom-padding" id="talks-section">
    <!--             Selected Talks -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
                <h2> Selected Talks </h2>
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> "Introduction to shell and Python"
                    <br> <i>IceCube Software Bootcamp&mdash;Madison, WI</i>
                </p>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p>June 2016</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> "Cosmic-ray Dipole Measurement Update"
                    <br> <i>IceCube Collaboration Meeting&mdash;Stony Brook, NY</i>
                </p>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p>April 2016</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> "Dark Matter Searches with a Mono-Z' Jet"
                    <br> <i>Phenomenology 2015 Symposium&mdash;Pittsburgh, PA</i>
                </p>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p>May 2015</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right" style="padding-right:20px;">
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <p> "Development of a Fast Timing System for the ATLAS Forward Proton Detector"
                    <br> <i>UTA Annual Celebration of Excellence by Students</i>
                    <ul>
                        <li>Received the Provost’s Award for an Undergraduate Oral Presentation.</li>
                    </ul>
                </p>
                <br>
                <br>
            </div>
            <div class="col-sm-3 hidden-xs">
                <p>March 2012</p>
            </div>
        </div>
    </div>
</div>
