$jumbotron-height: 600px;
$parallax-height: 400px;
$light-gray: #F2F2F2;
$dark-gray: #4d4d4d;
$diff-color: rgb(250, 246, 236);

.vertical-align {
    /*     display: flex; */
    align-items: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
html {
	//position: relative;
    height: 100%;
    width: 100%;
    //min-height: 100%;
    //min-width: 100%;
}
body {
	position: relative;
    width: 100%;
	min-height: 100%;
    //min-width: 100%;
}
/* Link style: want links to be same as surrounding text until cursor hovers over link */
a {
    // font-style: italic;
    text-decoration: none;
    // text-decoration: none;
    color: inherit;
}
a:hover {
	text-decoration: underline;
	color: inherit;
}
.underlined{
	text-decoration: underline;
}
p {
	//font-family: 'Roboto', sans-serif;
	// font-family: 'Noto Sans', sans-serif;
    // font-weight: 400;
	font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: $dark-gray;
}
#resume-section li {
	font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
}
.bg {
	background: url('/assets/terrace.jpg') no-repeat center center;
	background-attachment: fixed;
	//position: fixed;
    width: 100%;
    height: $jumbotron-height;
    /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}
.bg2 {
	//transform: translateY(-50%);
	background: url('/assets/IMG_6308_2.png') no-repeat center center;

	//background: url('/assets/icecube.jpg') no-repeat center center;
	background-attachment: fixed;
	//position: fixed;
    width: 100%;
    height: $parallax-height;
    /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;

	h1 {
		//transform: translateX(50%);
		//transform: translateY(50%);
		text-align: center;
		vertical-align: middle;
		line-height: $parallax-height;       /* the same as your div height */
		font-family: 'Roboto', sans-serif;
		// font-family: 'Noto Sans', sans-serif;
		//font-style: italic;
		font-weight: 400;
		font-size: 70px;
		color: $light-gray;
	}
}
.bg3 {
	background: url('/assets/aerial_UW_16mm11_6591-crop.jpg') no-repeat center center;
	background-attachment: fixed;
	//position: fixed;
    width: 100%;
    height: $parallax-height;
    /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;

	h1 {
		//transform: translateX(50%);
		//transform: translateY(50%);
		text-align: center;
		vertical-align: middle;
		line-height: $parallax-height;       /* the same as your div height */
		font-family: 'Roboto Mono', sans-serif;
		font-weight: 100;
		font-size: 70px;
		color: $light-gray;
	}
}
.jumbotron-post {
	margin: 0;
	padding: 0;
    height: 100px;
    color: white;
	background: transparent;
	h1 {
    	transform: translateY(60%);
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		// position: relative;
		// text-align: right;
		font-size: 40px;
		color: white;
        text-shadow: #444 0 1px 1px;
		margin: 0px;
	}

	p {
    	transform: translateY(60%);
		font-family: 'Lato', sans-serif;
		//font-family: 'Roboto', sans-serif;
		font-weight: 300;
		// position: relative;
		// text-align: left;
		color: white;
	}
}
.jumbotron {
	margin: 0;
	padding: 0;
    height: $jumbotron-height;
    color: white;
	background: transparent;
    .row {
        transform: translateY(90%);
    }
	h1 {
    	// transform: translateY(60%);
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		// position: relative;
		// text-align: right;
		font-size: 40px;
		color: white;
        text-shadow: #444 0 1px 1px;
		margin: 0px;
	}

	p {
    	// transform: translateY(60%);
		font-family: 'Lato', sans-serif;
		//font-family: 'Roboto', sans-serif;
		font-weight: 300;
		// position: relative;
		// text-align: left;
		color: white;
	}
}
.jumbotron-text {
	position: relative;
	//top: 10%;
	transform: translateY(60%);

	h1 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		position: relative;
		text-align: right;
		font-size: 40px;
		color: white;
		margin: 0px;
	}

	p {
		font-family: 'Lato', sans-serif;
		//font-family: 'Roboto', sans-serif;
		font-weight: 300;
		position: relative;
		text-align: left;
		color: white;
	}
}
.jumbotron-left {
    float: left;
    text-align: right;
    display: inline-block;
    padding: 20px 16px 20px 0px;
}
.jumbotron-right {
    display: inline-block;
	// padding: 50% 0px 0px 15px;
	padding: 35px 0px 0px 15px;
}
.white-background {
    background-color: white;
}
.gray-background {
    background-color: $light-gray;
}
.diff-background {
    background-color: $diff-color;
}
.page_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#about-me {
    /*bottom: -5px;*/
	top: 0px;
	font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
}
#picture {
    position: relative;
    /*margin: 0 auto;*/
    margin-top: 50px;
    border-radius: 50%;
    border: 1px solid rgb(239, 67, 39);
}
#research-section {
	padding-top: 50px;
}
#CV-section {
    // background: $light-gray no-repeat center center;
}
#resume-header {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.green-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    color: rgb(81, 145, 116);
}
lead{
    color: black;
}
.text-right h1 { margin: 0; }
.vertical-line {
    border-style: solid;
    border-width: 1px;
    // border-width: 2px;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent), color-stop(50%, white))0 100% 0 0 stretch;
}
.sexy_line {
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
.sexy_line_top {
    margin-bottom: 30px;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
.sexy_line_bottom {
    margin-top: 30px;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
footer {
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: $light-gray;
    height: 60px;
	position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
	//right: 0;
	//bottom: 0;
	//left: 0;
}
.footer-padding {
    margin-top: 20px;
}
// .active-button {
//     border-style: solid;
//     border-width: 1px;
//     background-color: rgb(81, 145, 116);
//     border-color: rgba(81, 145, 116, 0.3);
// }
.btn {
	font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: gray;
}
.btn-default:focus {
    background-color: white;
    border-color: default;
}
.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:focus:active, .btn-success:active {
    color: black;
    background-color: rgba(81, 145, 116, 0.3);
    border-color: gray;
}
.btn:focus {
    outline: none;
}
.pdf-button {
    // border-radius: 2px !important;
    // // font-family: 'Roboto', sans-serif;
    // // font-weight: 300;
}
.top-padding {
    padding-top: 60px;
}
.bottom-padding {
	padding-bottom: 60px;
}
.bottom-row {
	padding-bottom: 60px;
}
.post-list {
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
	color: $dark-gray;
	list-style-type: none;
}
.circle-div {
	// display: inline;
	// display: inline-block;
	overflow: hidden;
	// position: relative;
	margin: 0 auto;
	/*margin-top: 25%;*/
    border-radius: 50%;
	width: 200px;
	height: 200px;
    border: 1px solid rgb(239, 67, 39);
}
@media (max-width: 480px) {
//@media (max-width: @screen-xs-max) {
	.vertical-line {
		border-width: 0px;
	}
	.jumbotron-right {
		display: inline-block;
		padding-left: 50%;
		padding-top: 0px;
	}
}

@import "bootstrap/variables";
