$jumbotron-height: 500px;
$jumbotron-height-post: 250px;
$cv-jumbotron-height: 250px;
$parallax-height: 300px;
$light-gray: #F2F2F2;
$dark-gray: #4d4d4d;
$diff-color: rgb(250, 246, 236);

.vertical-align {
    /*     display: flex; */
    align-items: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

html {
    //position: relative;
    height: 100%;
    width: 100%;
    //min-height: 100%;
    //min-width: 100%;
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    //min-width: 100%;
}
/* Link style: want links to be same as surrounding text until cursor hovers over link */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

ul.nav {
    background-color: transparent !important;
}
ul.nav a:hover {
    background-color: transparent !important;
    text-decoration: underline;
}
ul.nav a:focus {
    background-color: transparent !important;
    color: white;
}
.post-header {
    a:hover {
        text-decoration: none;
    }
}
// .post-header {
//     .nav {
//         color: $dark-gray;
//         a:focus {
//             color: $dark-gray;
//             background-color: transparent !important;
//         }
//     }
//     h2 {
//         font-family: 'Lato', sans-serif;
//         font-weight: 400;
//         color: $dark-gray;
//     }
// }
.vertical-line-post {
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent), color-stop(50%, $dark-gray))0 0 0 100% stretch;
}
ul.nav a:visited {
    background-color: transparent !important;
}
ul.nav a:active {
    background-color: transparent !important;
}

.underlined {
    text-decoration: underline;
}
.scrollToTop{
	width:100px;
	height:130px;
	padding:10px;
	text-align:center;
	background: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
	color: gray;
	text-decoration: none;
	position:fixed;
	top:100px;
	right:40px;
	display:none;
}
.scrollToTop:hover{
	text-decoration:none;
}
.scroll-link:hover {
    text-decoration: none;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: $dark-gray;
}

.nav {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    // text-shadow: #444 0 1px 1px;
}

#resume-section {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $dark-gray;
    li {
        font-size: 18px;
    }
    h3 {
        // color: black;
    }
}
#research-section {
    // h2 {
    //     color: red;
    // }
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    // font-size: 18px;
    // color: black;
}

.bg {
    background: url('/assets/terrace.jpg') no-repeat center center;
    background-attachment: fixed;
    width: 100%;
    height: $jumbotron-height;
    /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}
.bg-post {
    background: url('/assets/terrace.jpg') no-repeat center center;
    background-attachment: fixed;
    width: 100%;
    height: $jumbotron-height-post;
    /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}

.bg3 {
    background: url('/assets/aerial_UW_16mm11_6591-crop.jpg') no-repeat center center;
    background-attachment: fixed;
    //position: fixed;
    width: 100%;
    height: $parallax-height;
    /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;

    h1 {
        //transform: translateX(50%);
        //transform: translateY(50%);
        text-align: center;
        vertical-align: middle;
        line-height: $parallax-height;
        /* the same as your div height */
        font-family: 'Roboto Mono', sans-serif;
        font-weight: 100;
        font-size: 70px;
        color: $light-gray;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.cv-jumbotron {
    height: $cv-jumbotron-height;
    color: $dark-gray;
    background: $light-gray;
    margin: 0;
    // width: 100%;
    padding-left: 0;
    padding-right: 0;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: $dark-gray;
        // text-shadow: #444 0 1px 1px;
    }
}

.top-jumbotron {
    margin: 0;
    padding: 0;
    height: $jumbotron-height;
    color: white;
    background: transparent;

    .row {
        transform: translateY(90%);
    }

    h1 {
        // transform: translateY(60%);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        // position: relative;
        // text-align: right;
        font-size: 40px;
        color: white;
        text-shadow: #444 0 1px 1px;
        margin: 0;
    }

    p {
        // transform: translateY(60%);
        font-family: 'Lato', sans-serif;
        //font-family: 'Roboto', sans-serif;
        font-weight: 300;
        // position: relative;
        // text-align: left;
        color: white;
    }
}

.white-background {
    background-color: white;
}

.gray-background {
    background-color: $light-gray;
}

.diff-background {
    background-color: $diff-color;
}

.page_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#about-me {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
}

#picture {
    position: relative;
    border-radius: 50%;
    border: 1px solid rgb(239, 67, 39);
}

#resume-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.green-text {
    color: rgb(81, 145, 116);
}

lead {
    color: black;
}

.text-right h1 {
    margin: 0;
}

.vertical-line {
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent), color-stop(50%, white))0 0 0 100% stretch;
}

.sexy_line {
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.sexy_line_top {
    margin-bottom: 30px;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.sexy_line_bottom {
    margin-top: 30px;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: $light-gray;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    //right: 0;
    //bottom: 0;
    //left: 0;
}

.footer-padding {
    margin-top: 15px;
}

.btn {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: gray;
}

.btn-default:focus {
    background-color: white;
    border-color: default;
}

.btn-success,
.btn-success:active,
.btn-success:focus,
.btn-success:focus:active,
.btn-success:hover {
    color: black;
    background-color: rgba(81, 145, 116, 0.3);
    border-color: gray;
}

.btn:focus {
    outline: none;
}

.pdf-button {
    // border-radius: 2px !important;
    // // font-family: 'Roboto', sans-serif;
    // // font-weight: 300;
}

.top-padding {
    padding-top: 60px;
}

.bottom-padding {
    padding-bottom: 60px;
}

.bottom-row {
    padding-bottom: 60px;
}

.post-list {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: $dark-gray;
    list-style-type: none;
}
.post-title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $dark-gray;
}
.post-header {
    text-color: $dark-gray;
}
.circle-div {
    // display: inline;
    // display: inline-block;
    overflow: hidden;
    // position: relative;
    margin: 0 auto;
    /*margin-top: 25%;*/
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(239, 67, 39);
}
@media (max-width: 480px) {
    //@media (max-width: @screen-xs-max) {

    .vertical-line {
        border-width: 0;
    }

    .jumbotron-right {
        display: inline-block;
        padding-left: 50%;
        padding-top: 0;
    }
}
@import "bootstrap/variables";
