---
layout: custom
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<!-- <div class="container-fluid">
		<div class="jumbotron-post">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 text-right">
						<h1 style="color: black; text-shadow: None;">James Bourbeau</h1>
							<p>
								<a href="https://github.com/jrbourbeau" target="_blank" style="text-decoration: none;">
									<img class="github" style="" width="40px;" src="{{ site.baseurl }}/assets/GitHub-Mark-120px-plus.png" alt="GitHub mark" />
								</a>
								<a href="https://www.linkedin.com/in/james-bourbeau-848353108" target="_blank" style="text-decoration: none;">
									<img class="github" style="" width="40px;" src="{{ site.baseurl }}/assets/In-White-128px-R.png" alt="LinkedIn logo" />
								</a>
							</p>
					</div>
					<div class="col-sm-8">
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="container-fluid top-padding">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<a class="underlined" href="{{ site.baseurl }}/index.html"><h3>Home</h3></a>
			</div>
			<div class="col-sm-2">
			</div>
		</div>
	</div>
	<div class="container-fluid white-background">
		<div class="row vertical-align bottom-padding">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
				<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
			</div>
			<div class="col-sm-2">
			</div>
		</div>
	</div>


	<div class="container-fluid white-background">
		<div class="row vertical-align bottom-padding">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<div class="post-content" itemprop="articleBody">
					{{ content }}
				</div>
			</div>
			<div class="col-sm-2">
			</div>
		</div>
	</div>

</article>
