---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
    <p>
        I'm a scientist for 3M's Corporate Research Lab, working on sensor fusion.
        I completed my physics Ph.D. in 2018 after five years with the IceCube Neutrino Observatory Collaboration.
    </p>
    <p>
        My work consists of researching hardware and writing software to fuse various sensor data for deeper insights.
        I'm interested in machine learning techniques both for applications in my research and as a hobby,
        and I enjoy playing music, cooking, and painting.
    </p>
</section>
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
