---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
    <p>
        I'm a research assistant and physics Ph.D. candidate at University of Wisconsin - Madison. As a member of the IceCube Neutrino Observatory Collaboration, I conduct analyses searching for correlation of neutrino data with transient astrophysical objects.
    </p>
    <p>
        My daily work consists mainly of software programming, statistics, and the communication of concepts therein with my peers. I'm interested in machine learning both for applications in my research and as a hobby. 
    </p>
</section>
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
