---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
    <p>
        Hi, I'm James Bourbeau. I'm a physics Ph.D. student and data analyst with an interest in scientific computing, machine learning, and software development. I have several years experience programming, predominantly in the Python data science space. In my free time I enjoy spending time outside with friends, cross-country skiing, and enjoying life in Madison, WI!
    </p>
    <p>
        Currently, I'm working as a member of the IceCube South Pole Neutrino Observatory at the University of Wisconsin&mdash;Madison. My work focuses primarily on applying machine learning and statistical deconvolution techniques to data collected with IceCube to study the cosmic-ray composition spectrum.
    </p>
</section>
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
